In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv("botswana.tsv", sep="\t", index_col=False) 
raw.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [5]:
raw.religion.value_counts()

spirit        1841
other         1080
protestant     993
catholic       447
Name: religion, dtype: int64

In [6]:
raw.shape

(4361, 15)

In [11]:
(raw.dropna()).shape

(1834, 15)

In [12]:
raw['nevermarr'] = raw.agefm.fillna(1)

In [13]:
raw.nevermarr

0        1.0
1       20.0
2       22.0
3        1.0
4       24.0
        ...
4356     1.0
4357     1.0
4358     1.0
4359    22.0
4360    21.0
Name: nevermarr, Length: 4361, dtype: float64

In [20]:
raw = raw.drop(["evermarr"], axis=1)

In [22]:
raw.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,22.0
3,0,24,12,other,2.0,1.0,0.0,NaN,NaN,1,1.0,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,24.0
5,1,30,5,spirit,5.0,1.0,0.0,24.0,7.0,1,1.0,0.0,0.0,0.0,24.0
6,3,42,4,other,3.0,1.0,0.0,15.0,11.0,1,1.0,0.0,1.0,0.0,15.0

In [23]:
raw.agefm = raw.agefm.fillna(0)

In [30]:
raw[(raw.nevermarr == 1)] = raw[(raw.nevermarr == 1)].fillna(-1)

In [38]:
((raw.heduc).isna()).value_counts()

False    4236
True      123
Name: heduc, dtype: int64

In [ ]:
0000000000000000000000000000000000000003