## Анализ результатов AB тестирования

Основная метрика, на которой мы сосредоточимся в этой работе, — это количество пользовательских кликов на web-странице в зависимости от тестируемого изменения этой страницы. 

Посчитайте, насколько в группе exp больше пользовательских кликов по сравнению с группой control в процентах от числа кликов в контрольной группе.

Полученный процент округлите  до третьего знака после точки.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ab_browser_test.csv')

In [3]:
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [8]:
control = sum(data.loc[(data['slot'] == 'control')].n_clicks)

In [10]:
exp = sum(data.loc[(data['slot'] == 'exp')].n_clicks)*100 /control

In [12]:
exp-100

1.6135689824415778